extends layout

block content
  main(role='content')
    section
      h3 Nodex is a dynamic text editor
      p That lets you write the way you think — where and when you are. 
        a(href="/manifesto") Read our manifesto

    section
      h3 We believe digital-era writing is a dynamic event
      p Rather than the linear, point A–Z myth of the typewriter era, Writing is actually a sophisticated flow of activities: Capture, Collate, Curate.

    section
      h3 If writers are like travelers, digital writers are like Time Travelers.
      p Constantly switching between writing activities and devices.

    section
      h3 Keep me updated
      p We're building a writing tool subtle enough to capture an idea, sophisticated enough to write a book.

    section
      form(action='http://catalysm.createsend.com/t/d/s/nuhdj/', method='post')
        p
          label(for='fieldName') Your full name
          br
          input#fieldName(name='cm-name', type='text', placeholder="Charles Dickens")
        p
          label(for='fieldEmail') Email
          br
          input#fieldEmail(name='cm-nuhdj-nuhdj', type='email', required='required', placeholder="dickens@email.com", spellcheck="false")
        p
          input(type='submit', value='keep me updated')