doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html", charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, minimum-scale=1, maximum-scale=1")
    meta(name="description", content="Nodex is a dynamic text editor that let's you write the way you think — where and when you are.")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 #{title}
      h2 write in motion
    block content
    footer
      h5 Created by
      a(href="http://catalysm.co")
        img#cly-inline(src="images/cly-inline.png")