extends layout

block content
  main(role='content')
    section
      h3 Manifesto
      p Fuck the romanticism of staring at ominous, blank space and the blinking cursor.

      p That you, the writer, need only sit still long enough to justify yourself to this twitching gatekeeper; promising to set cautious foot on — yet unspoiled — land. Writing the right words in the right order to your happy destination, THE END.

      p Writing is not a journey. You are not a traveler on a road of linear procession who only need walk word–by–word, point A to B, to Z. 

      p Writing is a dynamic event. An expression of motion and emotion through time, across space.

      p Yes, we’re suggesting that writing is time–travel, that you are a time traveler and the blinking cursor on the blank page belies your ability to be in any moment in time and write: Sleeping, showering, sexing. In meetings, movies, funerals. Before breakfast, during lunch and after dinner. 

      p Writing is living. Abandon the paradox of sitting still long enough to capture fast–as–life thoughts. (If you need pause stare at a tree. Not a cursor.) 

      p Write the way you think, where and when you are. 

      p Write in motion.
    section
      a(href="/") < home