extends layout

block content
  main(role='content')
    section
      h3 Welcome to Nodex
      p Thanks for signing up for updates about Nodex. We are hard at work refining the beta experience.

    section
      a(href="/") < home